<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlaidClientID</key>
	<string>YOUR_PLAID_CLIENT_ID_HERE</string>
	<key>PlaidSandboxAPI</key>
	<string>YOUR_PLAID_SANDBOX_API_KEY_HERE</string>
	<key>Environment</key>
	<string>sandbox</string>
	<key>DebugMode</key>
	<true/>
</dict>
</plist>